<div class="header">
  <h1 id="#title">{{agent?.codeName}}</h1>
</div>
<div class="body">
  <div id="mission" class="upper-card">
    <h4>Récapitulatif de la Mission</h4>
    <p id="recap">{{mission?.text}}</p>
  </div>
  <div id="car" class="upper-card">
    <div class="card-header">
      <h4>Comptes Rendus d'Activité</h4>
    </div>
    <div class="card-body">
      <div *ngFor="let report of (reports$ | async)"
           class="lower-card"
           [style.text-align]="'center'"
           (click)="openDialog(report.id)"><p>{{report.date}}</p></div>
    </div>
    <div class="card-footer">
      <button id="add-report" class="btn" (click)="openDialog('')">+</button>
    </div>
  </div>
  <div id="calendar" class="upper-card">
    <div class="card-header">
      <h4>Planning</h4>
    </div>
    <div class="card-body"></div>
  </div>
</div>
